button {
  flex: 1 25%;
  padding: 15px;
  
  font-size: 26px;
  border-radius: 40px; /* rounded buttons */
  border: 2px solid darkgrey;
} 

h2{
    text-align: center;
}

.btnNumber {
  background-color:azure;
}

.btn-operator {
  background-color:orange;
}

.btn-equals {
  background-color:forestgreen;
}

.btn-clear {
   background-color:darkred;
}

.buttons{
    max-width: 400px;
    display:flex;
    flex-wrap: wrap;
    border-color: darkgray;    
}

.display{
    width: 100%;
    background-color: darkGrey;
    height: 50px;
    font-size: 48px;
    display: flex;
    justify-content: flex-end;
     border-radius: 10px;

}


/* .container {
  display: flex;
  justify-content: center; 
  align-items: center;    
  min-height: 100vh;      
*/
.container{
    background: lightGrey;
    width: max-content;
    margin: auto;
    border-radius: 10px;

}